svg {
    border: 1px solid black;
    background: lavender;
    /* center align */
    display: block;
    margin: auto;
}

.centered {
    text-align: center;
}

rect, polygon {
    stroke: darkblue;
    stroke-width: 2;
    fill: darkgray;
}

rect {
    /* rounded corners */
    rx: 10;
    ry: 10;
}

circle {
    r: 5;
}

path {
    stroke: dimgray;
    stroke-width: 3;
    fill: transparent;
}

.text-variables {
    font-family: monospace;
    font-size: 10px;!important
	//font-weight: bold;
}

.text-box {
    font-family: monospace;
    font-size: 12px;
	fill: darkblue;
	//font-weight: bold;
}

/*.text-box rect {
    stroke-width: 0;
    fill: white;
    rx: 0;
    ry: 0;
}

.text-box .selection {
    fill: lawngreen;
}*/
